#pass {
  display: none;
  background-color: green;
  border-style: ridge;
  border-radius: 5em;
  border-color: black;
}
#fail {
  display: none;
  background-color: red;
  border-style: ridge;
  border-radius: 5em;
  border-color: black;
}

.container1,
.container2 {
  background-color: #035da7;
  border-style: ridge;
  border-color: black;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 2em;
}

body {
  background-color: #00b069;
}

.title {
  text-align: center;
}

#btn {
  display: flex;
  justify-content: center;
}

input {
  width: 5em;
}

.status {
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-top: 3em;
}
