#pass {
  display: none;
  background-color: green;
  border-style: ridge;
  border-radius: 5em;
  border-color: black;
}
#fail {
  display: none;
  background-color: red;
  border-style: ridge;
  border-radius: 5em;
  border-color: black;
}

.container1,
.container2 {
  background-color: #9cbcd8;
  border-color: #3291f2;
  border-style: ridge;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2em;
  text-align: center;
}

body {
  color: #f8f6f4;
  background-color: #ccced1;
}

.title {
  text-align: center;
  color: #3291f2;
}

#btnDiv {
  display: flex;
  justify-content: center;
}

input {
  width: 5em;
  margin-bottom: 2em;
}

.status {
  text-align: center;
  width: 20%;
  margin-left: 40%;
  margin-top: 3em;
}

.btn {
  background-color: #9cbcd8;
  color: #f8f6f4;
  font-style: oblique;
  font-weight: bold;
}
